h1 {
	text-align: center;
}

table {
	table-layout: fixed;
	margin: 0 auto;
	border-collapse: collapse;
}

table td {
	width: 80px;
	height: 80px;
	text-align: center;
	border: 1px solid;
}

button {
	margin-left: 900px;
}